.product {
  text-align: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 50%);

  &__name {
    text-align: center;
  }

  &__image {
    width: 179px;
  }
}
