$popup-color: #ff943d;
@font-face {
  font-family: '﻿Gilroy-Bold';
  src: local('﻿Gilroy-Bold'), url(../../assets/fonts/Gilroy-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: local('﻿Gilroy-Light'), url(../../assets/fonts/Gilroy-Light.woff) format('woff');
}

.flex {
  display: flex;
  justify-content: center;
}

.popupOrder {
  width: 100%;
  min-height: 1251px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  &__info {
    text-transform: uppercase;
    z-index: 200;
    width: 469px;
    position: absolute;
    min-height: 1251px;
    overflow-y: hidden;
    right: 0;
    top: 0;
    background-color: #fff;
  }

  &__closeArea {
    position: relative;
    text-align: center;
    background-color: $popup-color;
    padding: 88px 0px 80px 0px;
    font-size: 58px;

    &::before {
      content: '';
      position: absolute;
      left: 63px;
      top: 52%;
      display: block;
      border-right: 5px solid white;
      border-bottom: 5px solid white;
      width: 22px;
      height: 22px;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__body {
    color: #2f2f2f;
    border-bottom: 1px solid #d9d9d9;
    font-family: '﻿Gilroy-Light', Arial, sans-serif;
    padding: 0px 56px;
    margin-bottom: 20px;
  }

  &__text {
    margin-top: 36px;
    font-size: 28px;
    margin-bottom: 5px;
  }

  &__total {
    font-size: 48px;
    margin-bottom: 30px;
  }

  &__link {
    background-color: $popup-color;
    display: inline-block;
    font-family: '﻿﻿Gilroy-Bold', Arial, sans-serif;
    font-weight: bold;
    padding: 22px 45px;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
  }
}
