.productChoose {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 43px 0px 40px 0px;

  &__discount {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 30px;
  }

  &__finalPrice {
    font-size: 59px;
    display: block;
  }

  &__price {
    font-size: 22px;
    text-decoration: line-through;
    display: block;
    padding-top: 3px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__select {
    width: 122px;
    position: relative;
    padding-left: 35px;
  }

  &__selectContainer {
    border-bottom: 3px solid #ffffff;
    width: 63px;
  }

  &__selectArrow {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__selectedItem {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 26px;
    padding-right: 35px;
  }

  &__selectItems {
    height: 187px;
    max-height: 187px;
    width: 122px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    z-index: 10;
  }

  &__item {
    height: 43px;
    font-size: 24px;
    padding-left: 15px;
    &:first-child {
      margin-top: 15px;
    }
  }

  &__itemChoose {
    display: inline-block;
    width: 39px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    padding-top: 6px;

    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &__selectArrowDown {
    position: absolute;
    top: 11px;
    width: 0;
    right: 40px;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    border-radius: 2px;
  }

  &__selectArrowUp {
    position: absolute;
    top: 11px;
    width: 0;
    right: 40px;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-radius: 2px;
  }

  &__btn {
    width: 67px;
    height: 51px;
    background-color: transparent;
    border: #fff 3px solid;
    border-radius: 40%;
    margin-top: -10px;
  }
}

.selected {
  background: rgba(0, 0, 0, 0.4);
}

.simplebar-scrollbar:before {
  background-color: rgba(0, 0, 0, 0.4);
}
